$primary-hue: 210;
$primary-background: hsl($primary-hue, 34.5%, 12.5%);
$primary-background-light: lighten(
  $color: $primary-background,
  $amount: 10,
);

$primary-text: white;
$primary-text-dark: darken($primary-text, 10);

$header-height: 64px;
